body{
   background-color: rgb(255, 236, 236);
    
}
form{
    background: url(./p5.jpeg) no-repeat;
    margin: 100px 465px 20px 560px;
    padding: 20px;
    background-size: cover;
}
h1{
    text-align: center;
}
.input{
    text-align: center;
    margin: 15px;
}
.submit{
    text-align: center;
    margin: 10px;
}
.confirmPassword{
    text-align: center;
    margin: 10px;
}